<h1 class="address-title">モノの場所</h1>
  <div class="addresses">
    <div>
      <% @addresses.each do |address| %>
        <%= link_to search_address_path(address_id: address.id), class: "link" do %>
          <div class="address-list">
            <span>▶<%= address.name %>(<%= address.item.count %>)</span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
