// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "index";

.address-title {
 @extend .title;
}

.addresses {
  @extend .models;

  & .address-list {
    @extend .model-list;
  }

  & span {
    @extend .model-name;
  }
  & :nth-child(n) {
    & :hover {
    background-color: #EEFFFF;
    }
  }
}

.side {
  // position: absolute;
  // display: none;
  position: fixed;
  top: 120px;
  left: 50px;
}