/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  position: fixed;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: white;
  // border: solid;
  // border-color: green #32a1ce;
  z-index: 100;

  & .favicon {
    display: inline;
  }

  & .search-form {
    // text-align: center;
    border-radius: 30px;
    width: 100%;
  }

  & .search-input {
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
    width: 15%;
  }

  & .search-submit {
    border-radius: 50px;
    font-size: 20px;
    height: 40px;
    width: 5%;
  }

  & .nav-menu {
    display: flex;
  }
}

body {
  padding-top: 90px;
  margin: 0;
}

.link {
  text-decoration: none;
}

.input-field {
  font-size: 18px;
  width: 97%;
  height: 55px;
}


select {
  width: 100%;
  font-size: 18px;
  line-height: 1.4em;
  height: 55px;
  padding: 0 44px 0 16px;
}


.input-file {
  width: 100%;
  font-size: 18px;
  line-height: 1.4em;
  height: 55px;
  padding: 0 44px 0 16px;
    cursor: pointer;
}

// .image_form{
//         display: none;
//       }
// input[type="file"] {
//     display: none;
// }

.notification {
  font-size: 20px;
  background-color: #FF97C2;
  text-align: center;
  width: 100%;
}