// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "index";

.items-title {
  // @extend .title;
}

.items {
  @extend .models2;

  & .item-list {
    @extend .model-lists2;

    & .item-name {
      @extend .model-name2;
    }

    & .item-add {
      @extend .model-address;
    }
  }
}

/*new.html.erb*/
.new-item-title {
  @extend .title;
}

.new-item-form {
  display: flex;
  justify-content: center;
  width: 100%;

  & .name-form {
    & :hover{
      background-color: #EEFFFF;
    }
  }

  & .category-form {
    & :hover{
      background-color: #EEFFFF;
      cursor: pointer;
    }
  }

  & .address-form {
    & :hover{
      background-color: #EEFFFF;
      cursor: pointer;
    }
  }
}
